<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title th:text="#{image.create.title}"></title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <h5 th:text="#{image.create.page}"></h5>
                <a href="index.html" th:each="user : ${users}" th:href="@{'/image/index/' + ${user.id}}" th:text="#{image.create.back}" class="overview-back btn-subscribe"></a>
                <form th:action="@{/image/create}" th:object="${imageForm}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${imageForm.id}" />
                    <input type="text" th:classappend="${#fields.hasErrors('name')} ? 'has-error'" name="name" class="form-control input-margin" th:placeholder="#{image.name}" th:value="${imageForm.name}"/>
                    <div class="error-message" th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
                    <select th:classappend="${#fields.hasErrors('user')} ? 'has-error'" class="form-control input-margin" name="user" th:placeholder="#{image.select}">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>
                    <div class="error-message" th:each="err : ${#fields.errors('user')}" th:text="${err}"></div>
                    <input type="file" name="file" class="input-margin" />
                    <div class="error-message" th:each="err : ${#fields.errors('file')}" th:text="${err}"></div>
                    <div><input type="submit" class="btn-subscribe" th:value="#{image.btn.create}" /></div>
                </form>
            </div>
        </div>
    </section>

</div>

</body>
</html>