<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">
<head>
    <title th:text="#{order.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding" style="width: 50%">
                <h5 th:text="#{order.step3}"></h5>
                <form th:action="@{ticketOrderResult}" th:object="${order}" method="post">
                    <b th:text="#{account.check}"> </b>
                    <p th:text="#{account.firstName}"></p> <input type="text" name="firstName" class="form-control" th:placeholder="#{account.firstname}" th:value="${order.account.firstName}" readonly="readonly"/>
                    <p th:text="#{account.lastName}"></p> <input type="text" name="lastName" class="form-control" th:placeholder="#{account.lastname}" th:value="${order.account.lastName}" readonly="readonly"/>
                    <p th:text="#{account.address}"></p> <input type="text" name="address" class="form-control" th:placeholder="#{account.address}" th:value="${order.account.address}" readonly="readonly"/>
                    <p th:text="#{account.city}"></p> <input type="text" name="city" class="form-control" th:placeholder="#{account.city}" th:value="${order.account.city}" readonly="readonly"/>

                    <label th:text="#{order.total}"></label>
                        <span th:each="o : ${order.order}">
                            <textarea th:text="${o.totalPrice}"></textarea>
                        </span>
                    <div>
                        <input type="submit" name="action" value="buy" />
                        <input type="submit" name="action" value="cancel" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>