<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | Ticket</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <h5>Order - Stap 2 - Tickets</h5>
                    <form th:action="@{ticketOrderForm}" th:object="${ticketModel}" method="post">
                        <div th:each="tproducts, stat : ${ticketModel.ticketProducts}">
                            <div class="tproducts">
                                <input class="form-control input-margin" type="text" th:name="|tickets[__${stat.index}__].name|"  th:value="${tproducts.name}" readonly="readonly" />
                                <input class="form-control input-margin" type="text" th:placeholder="${tproducts.description}" readonly="readonly" />
                                <input class="form-control input-margin" type="text" th:name="|tickets[__${stat.index}__].price|" th:value="${tproducts.price}" readonly="readonly" />

                                <input class="form-control input-margin" type="text" th:field="*{tickets[__${stat.index}__].amount}" th:placeholder="Amount" />
                            </div>
                        </div>
                        <input type="submit" value="Bestel" class="btn-subscribe" />
                    </form>
            </div>
        </div>
    </section>

</div>

</body>
</html>