<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">
<head>
    <title th:text="#{order.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding" style="width: 50%">
                <h5 th:text="#{order.step3}"></h5>

                <form th:action="@{ticketOrderResult}" th:object="${order}" method="post">

                    <strong th:text="#{account.check}"> </strong>

                    <p th:text="#{account.firstname}"></p>
                    <input type="text" name="firstName" class="form-control"
                           th:field="*{account.firstName}"

                           th:placeholder="#{account.firstName}"
                           th:value="${order.account.firstName}" readonly="readonly"/>

                    <p th:text="#{account.lastname}"></p>
                    <input type="text" name="lastName" class="form-control"
                           th:field="*{account.lastName}"
                           th:placeholder="#{account.lastName}"
                           th:value="${order.account.lastName}" readonly="readonly"/>

                    <p th:text="#{account.address}"></p>
                    <input type="text" name="address" class="form-control"
                           th:field="*{account.address}"
                           th:placeholder="#{account.address}"
                           th:value="${order.account.address}" readonly="readonly"/>

                    <p th:text="#{account.city}"></p>
                    <input type="text" name="city" class="form-control"
                           th:field="*{account.city}"
                           th:placeholder="#{account.city}"
                           th:value="${order.account.city}" readonly="readonly"/>


                    <label th:text="#{order.total}"></label>
                        <span th:each="o : ${order.order}">
                            <input type="text" name="totalPrice" class="form-control"
                                   th:field="*{order.totalPrice}"
                                   th:classappend="${#fields.hasErrors('order.totalPrice')} ? 'has-error'"
                                   th:value="${o.totalPrice}"/>
                            <div class="error-message" th:each="err : ${#fields.errors('order.totalPrice')}" th:text="${err}"></div>
                        </span>

                    <input type="date" name="date" class="form-control"
                           th:field="*{order.date}"
                           th:classappend="${#fields.hasErrors('order.date')} ? 'has-error'"
                           th:value="${order.order.date}"/>
                    <div class="error-message" th:each="err : ${#fields.errors('order.date')}" th:text="${err}"></div>

                    <div>
                        <input type="submit" name="action" value="buy" />
                        <input type="submit" name="action" value="cancel" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>