<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | Ticket</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <h5>Order ticket</h5>
                <form th:action="@{/ticketOrderForm}" method="post">
                    <b>Kies type ticket</b>
                    <div class="form-group blu-margin" style="width: 50%">
                        <select class="form-control" th:field="${model.option}"  id="dropOperator">
                            <option th:each="o : ${model.option}" th:value="${o.name}" th:text="${o.name} + ' -- €' + ${o.price}"></option>
                        </select>
                    </div>
                    <b>Kies Datum:</b>
                    <input type="date" name="date" class="form-control"/>
                    <div><input type="submit" value="Bestel"/></div>
                </form>
            </div>
        </div>
    </section>


</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/static/js/mail.result.js"></script>
</th:block>
</body>
</html>