<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Image | View</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <h5>Create mail</h5>
                <form th:action="@{/image}" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" class="form-control input-margin" placeholder="Naam"/>
                    <input type="file" name="file" class="input-margin" />
                    <div><input type="submit" class="btn-subscribe" value="Voeg toe" /></div>
                </form>
            </div>
        </div>
    </section>

</div>

</body>
</html>