<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title th:text="#{account.register.title}"></title>
</head>

<body>
    <div layout:fragment="content">
        <section id="home" class="home-section">
            <div class="page-container">
                <div th:if="${userForm.id != null}">
                    <div class="col-lg-12 extra-padding">
                        <ul class="account-navigation">
                            <li><a th:text="#{account.header.account}"></a></li>
                            <li><a th:text="#{account.header.photo}" th:href="@{userPhoto}"></a></li>
                            <li><a th:text="#{account.header.ticket}" th:href="@{ticketOverview}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 extra-padding">
                    <form th:action="@{/registration}" th:object="${userForm}" method="post">
                        <input type="hidden" name="id" th:value="${userForm.id}" />
                        <input type="text" th:classappend="${#fields.hasErrors('username')} ? 'has-error'" name="username" class="form-control input-margin" th:placeholder="#{account.email}" th:value="${userForm.username}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
                        <input type="password" th:classappend="${#fields.hasErrors('password')} ? 'has-error'" name="password" class="form-control input-margin" th:placeholder="#{account.password}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                        <input type="password" th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'has-error'" name="passwordConfirm" class="form-control input-margin" th:placeholder="#{account.passwordrepeat}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}"></div>
                        <input type="text" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'" name="firstName" class="form-control extra-input-margin" th:placeholder="#{account.firstname}" th:value="${userForm.firstName}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></div>
                        <input type="text" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'" name="lastName" class="form-control input-margin" th:placeholder="#{account.lastname}" th:value="${userForm.lastName}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></div>
                        <input type="date" th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'" name="birthday" class="form-control input-margin" th:placeholder="#{account.birthdate}" th:value="${#dates.format(userForm.birthday, 'yyyy-MM-dd')}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('birthday')}" th:text="${err}"></div>
                        <input type="text" th:classappend="${#fields.hasErrors('address')} ? 'has-error'" name="address" class="form-control extra-input-margin" th:placeholder="#{account.address}" th:value="${userForm.address}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>
                        <input type="text" th:classappend="${#fields.hasErrors('city')} ? 'has-error'" name="city" class="form-control input-margin" th:placeholder="#{account.city}" th:value="${userForm.city}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('city')}" th:text="${err}"></div>
                        <input type="text" th:classappend="${#fields.hasErrors('zipcode')} ? 'has-error'" name="zipcode" class="form-control input-margin" th:placeholder="#{account.zipcode}" th:value="${userForm.zipcode}"/>
                        <div class="error-message" th:each="err : ${#fields.errors('zipcode')}" th:text="${err}"></div>
                        <label for="newsletter" class="extra-input-margin" th:text="#{account.newsletter}"></label>
                        <input type="checkbox" id="newsletter" name="newsletter" class="form-control input-margin"/>
                        <input type="submit" class="btn btn-primary extra-input-margin" />
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>