<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title th:text="#{user.index.title}"></title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <h5 th:text="#{user.index.page}"></h5>
                <div th:each="user : ${users}">
                    <div class="col-lg-12 extra-padding underline">
                        <div class="overview-text">
                            <p class="overview-align overview-padding" th:text="${user.username}"></p>
                            <p class="overview-align" th:text="'(' + ${user.role.name} + ')'"></p>
                        </div>
                        <div class="overview-icon">
                            <a th:href="@{'/user/role/' + ${user.id}}" class="btn-edit">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </div>
                        <div class="overview-icon">
                            <a href="index.html" th:href="@{'/image/index/' + ${user.id}}" class="btn-edit">
                                <span class="glyphicon glyphicon-camera"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>