<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | AdminList</title>
</head>

<body>

<div layout:fragment="content" class="attractionList">


    <script th:inline="javascript">
        function myFunction() {
            var x = document.getElementById("colorcell");
            var colorButton = document.getElementByTagName("input");
            x.style.backgroundColor = "green";
            alert("pressed");
        }
    </script>
    <header class="attractionListHeader"> Attracties in het B2a pretpark </header>

    <div th:each="attraction : ${attractions}" class="attractionListItem">
        <div th:if="${attractions.empty}">
            No Attractions
        </div>
        <div th:if="${attractions != null}">
            <table id="stateTable">
                <thead>
                <tr>
                    <td> Attractie </td>
                    <td> Huidige Status </td>
                    <td colspan="6"> -------- </td>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <form action="#" th:action="@{/attraction/adminAttractionsList}" data-th-object="${model}" method="post">
                        <td th:text="${attraction.name}" class="attractionListItemText"></td>
                        <td id="colorcell"> kleurcode </td>
                        <td> <input type="submit" value="open" name="action"/> </td>
                        <td> <input type="submit" value="start" name="action"/> </td>
                        <td> <input type="submit" value="stop" name="action"/> </td>
                        <td> <input type="submit" value="close" name="action" onclick="myFunction()"/> </td>
                        <td> <input type="submit" value="damage" name="action"/></td>
                        <td> <input type="submit" onclick="myFunction()" value="repair"/> </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>
        Test to go to the admin page.
        <button>
            <a href="attractionAdmin.html" th:href="@{attraction/attractionAdmin}">Admin page</a>
        </button>
    </p>

</div>



</body>
</html>