<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | AdminList</title>
</head>

<body>

<div layout:fragment="content" class="attractionList">

    <script th:inline="javascript">
        function myFunction() {
            var x = document.getElementById("colorcell");
            var colorButton = document.getElementByTagName("input");
            x.style.backgroundColor = "green";
            alert("pressed");
        }
    </script>
    <header class="attractionListHeader"> Attracties in het B2a pretpark </header>

    <div>
        <a th:href="@{/attraction/attractionChooser}"> Nieuwe Attractie </a>
    </div>

    <div th:each="attraction : ${attractions}" class="attractionListItem">
        <div th:if="${attractions.empty}">
            No Attractions
        </div>
        <div th:if="${attractions != null}">
            <table id="stateTable table table-striped table-hover">
                <thead>
                <tr>
                    <th> Attractie </th>
                    <th> Huidige Status </th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <form name="stateForm" action="#" th:action="@{/attraction/adminAttractionsList}" th:object="${attractions}" method="post">
                        <td> <input type ="hidden" th:value="${attraction.id}"/> </td>
                        <td class="nameCell" th:text="${attraction.name}"> test </td>
                        <td class="colorCell"> kleurcode </td>
                        <td> <input type="submit" class="btnState" value="open" th:value="open" name="action"/> </td>
                        <td> <input type="submit" class="btnState" value="start" name="action"/> </td>
                        <td> <input type="submit" class="btnState" value="stop" name="action"/> </td>
                        <td> <input type="submit" class="btnState" value="close" name="action" onclick="myFunction()"/> </td>
                        <td> <input type="submit" class="btnState" value="damage" name="action"/></td>
                        <td> <input type="submit" class="btnState" value="repair" name="action"/> </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



</body>
</html>