<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | AdminList</title>
</head>

<body>

<div layout:fragment="content" class="attractionList">


    <script th:inline="javascript">
        function myFunction() {
            var x = document.getElementById("colorcell");
            var colorButton = document.getElementByTagName("input");
            x.style.backgroundColor = "green";
            var test = [[${attraction.start()}]];
            console.log(test);
            alert("fuck you");
            alert(test);
        }
    </script>
    <header class="attractionListHeader"> Attracties in het B2a pretpark </header>

    <div th:each="attraction : ${attractions}" class="attractionListItem">
        <div th:if="${attractions.empty}">
            No Attractions
        </div>
        <div>
            <table id="stateTable">
                <thead>
                <tr>
                    <td> Attractie </td>
                    <td> Huidige Status </td>
                    <td colspan="6"> -------- </td>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td th:text="${attraction.name}" class="attractionListItemText"></td>
                    <td id="colorcell"> kleurcode </td>
                    <td> <input type="button" value="open" id="open" class="colorButton" th:onclick="@{${attraction.start()}"/> </td>
                    <td> <input type="button" value="start" id="start" onclick="myFunction()"/> </td>
                    <td> <input type="button" value="stop" id="stop" onclick="myFunction"/> </td>
                    <td> <input type="button" value="close" id="close" class="colorButton" onclick="myFunction()"/> </td>
                    <td> <button class="colorButton" onclick="myFunction()"> destroy </button></td>
                    <td> <input type="button" onclick="myFunction()" value="repair" class="colorButton"/> </td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>
    <p>
        Test to go to the admin page.
        <button>
            <a href="attractionAdmin.html" th:href="@{attraction/attractionAdmin}">Admin page</a>
        </button>
    </p>

</div>



</body>
</html>