<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Default</title>

    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/core.css" rel="stylesheet" />
</head>
<body>

<!-- Navigation -->
<div class="fixed-header">

    <!-- Tablet & PC Header -->
    <header class="site-header display">
        <nav class="nav">

            <!-- Logo -->
            <a class="header_logo" th:href="@{/}"><img class="logo_img" src="/static/img/logo.png" alt="B2a logo" /></a>

            <!-- Upper navigation -->
            <ul class="meta-navigation">
                <li th:if="${#httpServletRequest.remoteUser != null}">
                    <form id="form-logout" th:action="@{/logout}" method="post">
                        <input id="logout" class="logout" type="submit" th:value="#{header.meta.logout}"/>
                    </form>
                </li>
                <li th:if="${#httpServletRequest.remoteUser != null}"><a th:href="@{/account}"><strong th:text="#{header.meta.loggedin} + ${#httpServletRequest.remoteUser}" th:inline="text"></strong></a></li>
                <li th:if="${#httpServletRequest.remoteUser == null}" class="login"><a th:text="#{header.meta.login}" th:href="@{/login}"></a></li>
                <li th:if="${#httpServletRequest.remoteUser == null}" class="register"><a th:text="#{header.meta.register}" th:href="@{/registration}"></a></li>
                <li class="contact"><a th:text="#{header.meta.contact}" th:href="@{/contact}"></a></li>
            </ul>

            <!-- Lower navigation for Member role -->
            <ul sec:authorize="!hasRole('ROLE_ADMIN')" class="site-navigation">
                <li class="tickets"><a th:text="#{header.site.tickets}" th:href="@{orderTicket/ticketOrder}"></a></li>
                <li class="attractions"><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></li>
                <li class="park"><a th:text="#{header.site.park}" th:href="@{/park}"></a></li>
            </ul>

            <!-- Lower navigation for Admin role -->
            <ul sec:authorize="hasRole('ROLE_ADMIN')" class="site-navigation">
                <li class="news"><a th:text="#{header.site.user}" th:href="@{/user/index}"></a></li>
                <li class="attractions"><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></li>
            </ul>
        </nav>
    </header>

    <!-- Mobile header -->
    <header class="site-header responsive-display">

        <!-- Logo -->
        <a class="header_logo" th:href="@{/}"><img class="logo_img" src="/static/img/logo.png" alt="B2a logo" /></a>

        <!-- Hamburger menu -->
        <div th:text="#{header.menu}" class="menu"></div>
        <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Expanded menu for Member role -->
        <ul sec:authorize="!hasRole('ROLE_ADMIN')" class="responsive-navigation">
            <li th:if="${#httpServletRequest.remoteUser != null}"><a th:href="@{/account}"><strong th:text="#{header.meta.loggedin} + ${#httpServletRequest.remoteUser}" th:inline="text"></strong></a></li>
            <li th:if="${#httpServletRequest.remoteUser != null}">
                <form id="form-logout" th:action="@{/logout}" method="post">
                    <input id="logout" class="logout" type="submit" th:value="#{header.meta.logout}"/>
                </form>
            </li>
            <li th:if="${#httpServletRequest.remoteUser == null}" class="login"><a th:text="#{header.meta.login}" th:href="@{/login}"></a></li>
            <li th:if="${#httpServletRequest.remoteUser == null}" class="register"><a th:text="#{header.meta.register}" th:href="@{/registration}"></a></li>
            <li class="contact"><a th:text="#{header.meta.contact}" th:href="@{/contact}"></a></li>
            <li class="tickets"><a th:text="#{header.site.tickets}" th:href="@{orderTicket/ticketOrder}"></a></li>
            <li class="attractions"><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></li>
            <li class="park"><a th:text="#{header.site.park}" th:href="@{/park}"></a></li>
        </ul>

        <!-- Expanded menu for Admin role -->
        <ul sec:authorize="hasRole('ROLE_ADMIN')" class="responsive-navigation">
            <li th:if="${#httpServletRequest.remoteUser != null}"><a th:href="@{/account}"><strong th:text="#{header.meta.loggedin} + ${#httpServletRequest.remoteUser}" th:inline="text"></strong></a></li>
            <li th:if="${#httpServletRequest.remoteUser != null}">
                <form id="form-logout" th:action="@{/logout}" method="post">
                    <input id="logout" class="logout" type="submit" th:value="#{header.meta.logout}"/>
                </form>
            </li>
            <li class="news"><a th:text="#{header.site.user}" th:href="@{/user/index}"></a></li>
            <li class="attractions"><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></li>
        </ul>

    </header>
</div>

<div class="row" layout:fragment="content">

</div>

<!-- Footer -->
<footer>
    <div class="footer-content">

        <!-- Footer navigation -->
        <div class="footer-navigation display">
            <div class="footer-text-wrapper">
                <h4 th:text="#{footer.navigation}"></h4>

                <!-- Footer menu for Member role -->
                <ul sec:authorize="!hasRole('ROLE_ADMIN')">
                    <li class="tickets"><a th:text="#{header.site.tickets}" th:href="@{orderTicket/ticketOrder}"></a></li>
                    <li class="attractions"><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></li>
                    <li class="park"><a th:text="#{header.site.park}" th:href="@{/park}"></a></li>
                </ul>

                <!-- Footer menu for Admin role -->
                <ul sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="news"><a th:text="#{header.site.user}" th:href="@{/user/index}"></a></li>
                    <li class="attractions"><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></li>
                </ul>

            </div>
        </div>

        <!-- Footer newsletter -->
        <div class="footer-newsletter display">
            <div class="footer-text-wrapper">
                <h4 th:text="#{footer.newsletter.title}"><strong></strong></h4>
                <p th:text="#{footer.newsletter.paragraph}"></p>
                <form th:action="@{/_layout}" th:object="${subscriberForm}" method="post">
                    <input id="email" type="text" th:classappend="${#fields.hasErrors('email')} ? 'has-error'" name="email" class="input-subscribe" th:placeholder="#{footer.input}" />
                    <div class="error-message" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                    <input type="submit" th:value="#{footer.button}" class="btn-subscribe" />
                </form>
            </div>
        </div>

        <!-- Mobile footer -->
        <div class="responsive-footer responsive-display">

            <!-- Mobile footer menu for Member role -->
            <div sec:authorize="!hasRole('ROLE_ADMIN')">
                <div class="footer-text-layout">
                    <h4><a th:text="#{header.site.tickets}" th:href="@{orderTicket/ticketOrder}"></a></h4>
                </div>
                <div class="footer-text-layout">
                    <h4><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></h4>
                </div>
                <div class="footer-text-layout">
                    <h4><a th:text="#{header.site.park}" th:href="@{/park}"></a></h4>
                </div>
            </div>

            <!-- Mobile footer menu for Admin role -->
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="footer-text-layout">
                    <h4><a th:text="#{header.site.user}" th:href="@{/user/index}"></a></h4>
                </div>
                <div class="footer-text-layout">
                    <h4><a th:text="#{header.site.attractions}" th:href="@{/attraction/attractionsList}"></a></h4>
                </div>
            </div>

            <h4 th:text="#{footer.newsletter.title}"><strong></strong></h4>
            <p th:text="#{footer.newsletter.paragraph}"></p>
            <form th:action="@{/_layout}" th:object="${subscriberForm}" method="post">
                <input type="text" th:classappend="${#fields.hasErrors('email')} ? 'has-error'" name="emailaddress" class="input-subscribe" th:placeholder="#{footer.input}" />
                <div class="error-message" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                <input type="submit" th:value="#{footer.button}" class="btn-subscribe" />
            </form>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/nav.js"></script>
<th:block layout:fragment="scripts">

</th:block>

</body>
</html>