<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title th:text="#{account.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-6 extra-padding">
                <form th:action="@{/registration}" method="post">
                    <input type="text" name="username" class="form-control" th:placeholder="#{account.email}" th:value="${user.username}" th:required="true"/>
                    <input type="password" name="password" class="form-control" th:placeholder="#{account.password}"/>
                    <input type="password" name="passwordConfirm" class="form-control" th:placeholder="#{account.passwordrepeat}"/><br/><br/>
                    <input type="text" name="firstName" class="form-control" th:placeholder="#{account.firstname}" th:value="${user.firstName}" th:required="true"/>
                    <input type="text" name="lastName" class="form-control" th:placeholder="#{account.lastname}" th:value="${user.lastName}" th:required="true"/>
                    <input type="date" name="birthday" class="form-control" th:placeholder="#{account.birthdate}" th:required="true"/><br/><br/>
                    <input type="text" name="address" class="form-control" th:placeholder="#{account.address}" th:value="${user.address}" th:required="true"/>
                    <input type="text" name="city" class="form-control" th:placeholder="#{account.city}" th:value="${user.city}" th:required="true"/>
                    <input type="text" name="zipcode" class="form-control" th:placeholder="#{account.zipcode}" th:value="${user.zipcode}" th:required="true"/><br/><br/>
                    <label for="newsletter" th:text="#{account.newsletter}"></label>
                    <input type="checkbox" id="newsletter" name="newsletter" class="form-control"/><br/>
                    <input type="submit" class="btn btn-primary" th:value="#{account.save}"/>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>