<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | Home</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="home-bg">
            <div class="welcome-text">
                <h1 th:text="#{greetings.header}"></h1>
            </div>
        </div>
    </section>

</div>

</body>
</html>