<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | Home</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main">
                        <h1>Welkom!</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>