<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title>Attractiepark | Email</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-6 extra-padding">
                <h5>Create mail</h5>
                <form th:action="@{/newsmessage}" method="post">
                    <input id="subject" type="text" name="subject" class="form-control input-margin" placeholder="Onderwerp" autofocus="true"/>
                    <input type="text" name="message" class="chatinput form-control input-margin" id="chatinput" placeholder="Tekst"/>
                    <div><input type="submit" value="Send mail" class="btn-subscribe"/></div>
                </form>
            </div>
            <div class="col-lg-6 extra-padding">
                <h5>Output</h5>

                <div class='printchatbox input-margin' id='printchatbox'></div>
            </div>
        </div>
    </section>


</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/static/js/mail.result.js"></script>
</th:block>
</body>
</html>