<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Attractiepark | Registreer</title>
</head>
<body>
<div role="navigation">
    <div class="navbar navbar-inverse">
        <a th:href="@{/}" class="navbar-brand">Home</a>
        <a th:href="@{/attraction/attractionsList}" class="navbar-brand">Attracties</a>
        <a th:href="@{/ticketOrder}" class="navbar-brand">Tickets</a>
        <a th:href="@{/registration}" class="navbar-brand">Registreer</a>
        <a th:href="@{/login}" class="navbar-brand">Login</a>
    </div>
</div>
<form th:action="@{/registration}" method="post">
    <input type="text" name="username" class="form-control" placeholder="Email" autofocus="true"/>
    <input type="password" name="password" class="form-control" placeholder="Wachtwoord"/>
    <input type="password" name="passwordConfirm" class="form-control" placeholder="Herhaal wachtwoord"/><br/><br/>
    <input type="text" name="firstName" class="form-control" placeholder="Voornaam"/>
    <input type="text" name="lastName" class="form-control" placeholder="Achternaam"/>
    <input type="date" name="birthday" class="form-control" placeholder="Geboortedatum"/><br/><br/>
    <input type="text" name="address" class="form-control" placeholder="Adres"/>
    <input type="text" name="city" class="form-control" placeholder="Plaats"/>
    <input type="text" name="zipcode" class="form-control" placeholder="Postcode"/><br/><br/>
    <input type="checkbox" name="newsletter" class="form-control" placeholder="Aanmelden voor nieuwsbrief?"/><br/>
    <div><input type="submit" value="Registreer"/></div>
</form>
</body>
</html>