<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title th:text="#{userphoto.title}">Attractiepark | Registreer</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <a th:text="#{selectedphoto.back}" th:href="@{/userPhoto}"></a>
                <div th:each="image : ${images}">
                    <div class="photo-holder">
                        <div class="user-image"><img class="u-image" th:src="@{'data:image/jpeg;base64,'+${image.display()}}"  th:alt="${image.name}" alt="selected-image"/></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>