<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Ticket : Buy</title>
</head>
<body>
<h1 layout:fragment="header">Ticket : Create</h1>
<div layout:fragment="content" class="container">
    <form th:action="@{/ticketOrderForm}" method="post">
        <input type="text" name="name" class="form-control" placeholder="naam" autofocus="true"/>
        <input type="text" name="date" class="form-control" placeholder="datum"/>
        <input type="text" name="price" class="form-control" placeholder="prijs"/>
        <div><input type="submit" value="koop"/></div>
    </form>
</div>
</body>
</html>
