<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title th:text="#{account.register.title}"></title>
</head>

<body>
<div layout:fragment="content">
    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <ul class="account-navigation">
                    <li><a th:text="#{account.header.account}" th:href="@{account}"></a></li>
                    <li><a th:text="#{account.header.photo}" th:href="@{userPhoto}"></a></li>
                    <li><a th:text="#{account.header.ticket}"></a></li>
                </ul>
            </div>
            <div>

            </div>
        </div>
    </section>
</div>
</body>
</html>