<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order your ticket</title>
</head>
<body>
<div role="navigation">
    <div class="navbar navbar-inverse">
        <a th:href="@{/}" class="navbar-brand">Home</a>
        <a th:href="@{/attraction/attractionsList}" class="navbar-brand">Attracties</a>
        <a th:href="@{/ticketOrder}" class="navbar-brand">Tickets</a>
        <a th:href="@{/registration}" class="navbar-brand">Registreer</a>
        <a th:href="@{/login}" class="navbar-brand">Login</a>
    </div>
</div>
<h1>TICKETS</h1>

<button>
    <a href="ticketOrderForm.html" th:href="@{/ticketOrderForm}">Order</a>
</button>

</body>
</html>