<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<head>
    <title th:text="#{userphoto.title}">Attractiepark | Registreer</title>
</head>

<body>

<div layout:fragment="content">

    <section id="home" class="home-section">
        <div class="page-container">
            <div class="col-lg-12 extra-padding">
                <div th:each="image : ${images}">
                    <div class="photo-holder">
                        <a href="userPhoto.html" th:href="@{'/selectedPhoto/' + ${image.id}}" th:text="${image.id}"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>